/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* seed */
body{
    font-family: 'Space Mono', monospace;
    background-color: #6e4fe0;
    color: #96caf7;

    line-height: 20px;
}
a{
    color: black;
}


#safe-area{
    margin: 0 auto;
    margin-top:10px;
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
    text-align:center;
    position: relative;
}
#tile{
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px solid #533fb7;
}

#container{
	padding: 5px;
}

#formulario{
	background-color: #e2e2e2;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
    align-items: center;
	justify-content: center;
	text-align: center;
}

.hide{
	display: none !important;
}
.signyourwork h1{
	margin-bottom: 60px;
	font-size: 20px;
}
#itsnotok, #itsok{
	margin: 0px 20px;
	width: 40px;
	height: 40px;
	font-size: 12px;
	border-radius: 50px;
	background-color: #6e4fe0;
	color: white;
	border: none;
	font-family: inherit;
}
#userName{
	border: 4px solid #6e4fe0;
    border-radius: 10px;
    font-family: inherit;
    font-size: 12px;
    padding: 4px 10px;
    width: 130px;
    text-align: center;
}

#comenzar{
	width: 80px;
    height: 30px;
    font-size: 12px;
    border-radius: 50px;
    background-color: #43c585;
    color: white;
    border: none;
    font-family: inherit;
}
#comenzar:disabled{
	background-color: #b3b3b3;
}

input:focus, button:focus{
  outline: none;
}
button:hover{
	cursor: pointer;
}

#starthere{
	position: absolute;
	top: calc(50vh + 17px);
	left: calc(50vw + 12px);
	transform-origin:left;
	transform: rotate(20deg);
	color: #6e4fe0;
}

.conectionError{
	color: #ff007d;
	opacity: 0;
	transition: opacity ease-out .4s;
}

.conectionError.visible{
	transition: opacity linear 0s;
	opacity: 100;
}
